Two Issues: 1) ParseKey `enc` header, and 2) Encrypt with enc=A192CBC_HS384|A128CBC_HS256

**Describe the bug**

I ran into 2 issues related to AES JWKs.
1. `jwk.ParseKey` and `jwe.ParseMessage` do not return `enc` header as type `jwa.ContentEncryptionAlgorithm`; it is returned as a `string`
2. Encrypting with `enc` `A256CBC_HS512` succeeded, but `A192CBC_HS384` and `A128CBC_HS256` failed.

I am writing a KMS demo application. Some KMS use cases may include:
1. DBs (e.g. SQL Server) getting DEKs (wrapped by a KMS key)
2. Users requesting direct encrypt/decrypt (e.g. Encryption-as-a-service)

In my KMS app, I support AES JWKs of different sizes 128/192/256, different ContentEncryptionAlgorithms (GCM vs CBC-HMAC-SHA2), and different KeyEncryptionAlgorithms (dir vs keywrap).

***

## Issue 1) Deserialized 'enc' headers returned as string

When I generate JWKs to be used a KMS keys, I populate headers `alg`, `enc`, `kid`, `use`, `ops`, and `kty`.

https://github.com/justincranford/jose-demo/blob/7d89e97824095d665dcaa5e2b059cf46358c7e04/jose_test.go#L241-L253

When I encrypt something (e.g. DEK, user data), I generate a JWK, use it on the input, and store the encrypted JWK in the DB. Storing includes serializing to JSON, and encrypting it (e.g. YubiKey PKCS#11). The first time I use the JWK in-memory, the `enc` header is type jwa.ContentEncryptionAlgorithm. All subsequent times I use it, I read from JWK, decrypt it (e.g. YubiKey PKCS#11), and use it, but the `enc` header is now type string.

Workaround: In my encrypt function, I try to get JWK `enc` header as jwa.ContentEncryptionAlgorithm. If that fails, I try to fallback on getting it as string; if that works, I convert it to jwa.ContentEncryptionAlgorithm.

The reason I need the JWK `enc` headers is to set `jwe.WithContentEncryption()` during encryption. If I don't set `jwe.WithContentEncryption()`, jwe.Encrypt() always defaults to A256GCM. I think the call doesn't check if JWK `enc` headers are populated.

https://github.com/justincranford/jose-demo/blob/7d89e97824095d665dcaa5e2b059cf46358c7e04/jose_test.go#L158-L160

Possibly related: I have a theory that JWK/JWE packages might be tracking `enc` separately from protected headers. I think `enc` might be a protected header in JWE/JWA RFC specs, but not sure.

Here are screenshots I did in VSCode Debug showing the generatedJwk (Line 190) vs decodedJwk (Line 198).

generatedJwk (Line 190) has `enc` value of type jwa.ContentEncryptionAlgorithm
![Image](https://github.com/user-attachments/assets/09186f84-d8a7-4974-a1ad-ebd8a6122e9f)

decodedJwk (Line 198) has `enc` value of type string
![Image](https://github.com/user-attachments/assets/9e0aa807-8eaf-443f-b45e-7a6eeacba85e)

Something else I noticed is the jwe/jwa packages seem to have variables for all of the other headers except `enc`. For example, I have to use 'enc' when I set that header versus jwk package variables for the other 5 headers.
https://github.com/justincranford/jose-demo/blob/7d89e97824095d665dcaa5e2b059cf46358c7e04/jose_test.go#L241-L253

***

## Issue 2) Encrypt fails for enc=A192CBC_HS384 or enc=A128CBC_HS256

I tried to cover all 6 of these jwa.ContentEncryptionAlgorithm in my unit tests, and the last two failed during encrypt.
1. jwa.A256GCM() => Worked
2. jwa.A192GCM() => Worked
3. jwa.A128GCM() => Worked
4. jwa.A256CBC_HS512() => Worked
5. jwa.A192CBC_HS384() => Failed
6. jwa.A128CBC_HS256() => Failed

https://github.com/justincranford/jose-demo/blob/7d89e97824095d665dcaa5e2b059cf46358c7e04/jose_test.go#L54-L59

If I uncomment say line 59, I get this error.

```
Error Trace:	c:/Dev/Projects/jose-demo/jose_test.go:168
                        c:/Dev/Projects/jose-demo/jose_test.go:123
Error:      	Received unexpected error:
            	jwe.Encrypt: failed to encrypt payload: failed to crypt content: failed to fetch AEAD: cipher: failed to create AES cipher for CBC: failed to execute block cipher function: crypto/aes: invalid key size 8
Test:       	TestAesJWKsEncryptDecryptCombinations/doSerDes=[false],enc=[A128CBC-HS256],algs=[dir]
```

***

**To Reproduce / Expected behavior**

https://github.com/justincranford/jose-demo/blob/main/jose_test.go

Function TestAesJWKsEncryptDecryptCombinations contains many different combinations of KEK and CEK algorithms.
- jwa.KeyEncryptionAlgorithm => `dir`, `A256GCMKW`, `A192GCMKW`, `A128GCMKW`, `A256KW`, `A192KW`, `A128KW`
- jwa.ContentEncryptionAlgorithm => `A256GCM`, `A192GCM`, `A128GCM`, `A256CBC_HS512`, `A192CBC_HS384`, `A128CBC_HS256`

I covered all of those combinations to verify that they all work. In doing that, I ended up finding the two issues I mentioned at the top.

Thank you.

@justincranford

---

> JWK and enc header

I took a quick  glance at the RFC https://datatracker.ietf.org/doc/html/rfc7517 to refresh my memory, and I don't think it's part of the JWK spec. It's part of JWE protected headers, but not JWK.

Therefore as far as [this](https://datatracker.ietf.org/doc/html/rfc7517) is concerned, github.com/lestrrat-go/jwx/v3/jwk does its best, but doesn't guarantee a specific Go type for it, and the key name is is not defined for it like `jwk.KeyIDKey`.

```go
key.Set(`enc`, someObject) // stores the object as-is, and does json.Marshal when serializing

key, _ := jwk.ParseKey(...)
key.Get(`enc`, target) // if "enc" exists, it's not something we know of beforehand, so it will be just a string
```

Alternatively, you could use `jwk.RegisterCustomField` if you absolutely want it to Unmarshal to an alternative object type in Go.

---

> Failing encryption algorithms

I haven't taken a deep dive, but looking at [my tests](https://github.com/lestrrat-go/jwx/blob/168236bad4c6234d2fafb9951cd46d1cbb6bb8e8/jwe/jwe_test.go#L428-L433), the key sizes [you specify](https://github.com/justincranford/jose-demo/blob/e8e8d3e6cedb5e3df735fdf377c5890596565bc5/jose_test.go#L213-L222) differ from mine for the two cases you mention. This also matches the error message you received.

Thank you for the quick reply!

I think JOSE details are spread out across these four RFCs 7515-7518.
1. RFC 7515 JSON Web Signature (JWS)
2. RFC 7516 JSON Web Encryption (JWE)
3. RFC 7517 JSON Web Key (JWK)
4. RFC 7518 JSON Web Algorithms (JWA)

I found JWK `enc` header in RFC 7516 and RFC 7518.

<details>
  <summary>RFC 7516 JSON Web Encryption (JWE) - Section 4.1 "enc" (Encryption Algorithm) Header Parameter</summary>

 [4.1.2](https://datatracker.ietf.org/doc/html/rfc7516#section-4.1.2).  "enc" (Encryption Algorithm) Header Parameter
 
    The "enc" (encryption algorithm) Header Parameter identifies the
    content encryption algorithm used to perform authenticated encryption
    on the plaintext to produce the ciphertext and the Authentication
    Tag.  This algorithm MUST be an AEAD algorithm with a specified key
    length.  The encrypted content is not usable if the "enc" value does
    not represent a supported algorithm.  "enc" values should either be
    registered in the IANA "JSON Web Signature and Encryption Algorithms"
    registry established by [[JWA](https://datatracker.ietf.org/doc/html/rfc7516#ref-JWA)] or be a value that contains a
    Collision-Resistant Name.  The "enc" value is a case-sensitive ASCII
    string containing a StringOrURI value.  This Header Parameter MUST be
    present and MUST be understood and processed by implementations.
 
    A list of defined "enc" values for this use can be found in the IANA
    "JSON Web Signature and Encryption Algorithms" registry established
    by [[JWA](https://datatracker.ietf.org/doc/html/rfc7516#ref-JWA)]; the initial contents of this registry are the values
    defined in Section 5.1 of [[JWA](https://datatracker.ietf.org/doc/html/rfc7516#ref-JWA)].

</details>

<details>
  <summary>RFC 7518 JSON Web Algorithms (JWA) - Section 5.1 "enc" (Encryption Algorithm) Header Parameter Values for JWE</summary>

 [5.1](https://datatracker.ietf.org/doc/html/rfc7518#section-5.1).  "enc" (Encryption Algorithm) Header Parameter Values for JWE
 
    The table below is the set of "enc" (encryption algorithm) Header
    Parameter values that are defined by this specification for use with
    JWE.
 
    +---------------+----------------------------------+----------------+
    | "enc" Param   | Content Encryption Algorithm     | Implementation |
    | Value         |                                  | Requirements   |
    +---------------+----------------------------------+----------------+
    | A128CBC-HS256 | AES_128_CBC_HMAC_SHA_256         | Required       |
    |               | authenticated encryption         |                |
    |               | algorithm, as defined in Section |                |
    |               | 5.2.3                            |                |
    | A192CBC-HS384 | AES_192_CBC_HMAC_SHA_384         | Optional       |
    |               | authenticated encryption         |                |
    |               | algorithm, as defined in Section |                |
    |               | 5.2.4                            |                |
    | A256CBC-HS512 | AES_256_CBC_HMAC_SHA_512         | Required       |
    |               | authenticated encryption         |                |
    |               | algorithm, as defined in Section |                |
    |               | 5.2.5                            |                |
    | A128GCM       | AES GCM using 128-bit key        | Recommended    |
    | A192GCM       | AES GCM using 192-bit key        | Optional       |
    | A256GCM       | AES GCM using 256-bit key        | Recommended    |
    +---------------+----------------------------------+----------------+
 
    All also use a JWE Initialization Vector value and produce JWE
    Ciphertext and JWE Authentication Tag values.
 
    See [Appendix A.3](https://datatracker.ietf.org/doc/html/rfc7518#appendix-A.3) for a table cross-referencing the JWE "enc"
    (encryption algorithm) values defined in this specification with the
    equivalent identifiers used by other standards and software packages.

</details>


I am noticing A128CBC-HS256 is one of the required `enc` value in the JWA RFC.

That is the example I mentioned in issue 2. If I uncomment line 59, that corresponds to `alg=dir` and `enc=A128CBC-HS256`. Running it returns a validation error on the key size.

I debugged a little. I noticed there is a len(key)/2 < 16 check. I am wondering if that is the issue, there is a validation check off by /2?

@justincranford 

> re: "enc"

first, let me correct myself: the link in the following sentence was going to the wrong place, which made my statement confusing:

`Therefore as far as [this](https://datatracker.ietf.org/doc/html/rfc7517) is concerned, github.com/lestrrat-go/jwx/v3/jwk does its best, but doesn't guarantee a specific Go type for it, and the key name is is not defined for it like jwk.KeyIDKey.`

It should have read

`Therefore as far as [this](https://github.com/justincranford/jose-demo/blob/7d89e97824095d665dcaa5e2b059cf46358c7e04/jose_test.go#L241-L253) is concerned, github.com/lestrrat-go/jwx/v3/jwk does its best, but doesn't guarantee a specific Go type for it, and the key name is is not defined for it like jwk.KeyIDKey.`

To reiterate, "enc" should be in JWE headers, NOT in JWK as you have in your code.
[Your example was setting enc in JWK](https://github.com/justincranford/jose-demo/blob/7d89e97824095d665dcaa5e2b059cf46358c7e04/jose_test.go#L241-L253), and yeah, that would not preserve the type, because it's not part of a JWK specification. As far as jwx is concerned, it's an arbitrary private field, so we won't type it.

---

> re: failures in encryption

> I debugged a little. I noticed there is a len(key)/2 < 16 check. I am wondering if that is the issue, there is a validation check off by /2?

Yes, that code exists, and I'm saying your code is using the wrong key sizes. Your code should look like this:

```diff
diff --git a/jose_test.go b/jose_test.go
index fb391c5..cf32c53 100644
--- a/jose_test.go
+++ b/jose_test.go
@@ -211,12 +211,18 @@ func generateAesJwk(t *testing.T, kekAlg jwa.KeyEncryptionAlgorithm, cekAlg jwa.
        switch kekAlg {
        case jwa.DIRECT():
                switch cekAlg {
-               case A256GCM, A256CBC_HS512:
+               case A256GCM:
                        keySize = 32
-               case A192GCM, A192CBC_HS384:
+               case A256CBC_HS512:
+                       keySize = 64
+               case A192GCM:
                        keySize = 24
-               case A128GCM, A128CBC_HS256:
+               case A192CBC_HS384:
+                       keySize = 48
+               case A128GCM:
                        keySize = 16
+               case A128CBC_HS256:
+                       keySize = 32
                default:
                        t.Fatalf("unsupported enc: %s", cekAlg)
                }
```

Thanks for looking into it.
1. Your explanation makes sense. I agree `enc` header should be in the JWE. I have it set in JWE, as well as the JWK. Your explanation that the library does its best, but doesn't guarantee the type, that makes sense too.

2. You explanation makes sense. I was not familiar with the details of AEAD_AES_128_CBC_HMAC_SHA_256. I see that RFC 7518 JWA refers to https://datatracker.ietf.org/doc/html/draft-mcgrew-aead-aes-cbc-hmac-sha2-05#section-2.4. I read through it, and I see now that A128CBC-HS256 needs a 32-byte key; half used for AES-128-CBC and half for HMAC-SHA256. I need to double my key sizes for that class of algorithms.

Quick follow up question:

I am covering alg=dir and enc=A256CBC-HS512 on line 57 of jose_test.go.
https://github.com/justincranford/jose-demo/blob/7d89e97824095d665dcaa5e2b059cf46358c7e04/jose_test.go#L57

However, I am only passing in a 32-byte key. If I understand correctly, I should be passing in a 64-byte key; where half used for AES-256-CBC and half used for HMAC-SHA512.

My question is, should I expect JWK 32-bytes, alg=dir, and enc=A256CBC-HS512 to error out?

This is the output I get for the test cases on line 57. It passes.

```
=== RUN   TestAesJWKsEncryptDecryptCombinations/doSerDes=[false],enc=[A256CBC-HS512],algs=[dir]
    c:\Dev\Projects\jose-demo\jose_test.go:119: Clear Bytes: Hello World 9608! [0x48656c6c6f20576f726c64203936303821]
    c:\Dev\Projects\jose-demo\jose_test.go:194: Generated JWK: {"alg":"dir","enc":"A256CBC-HS512","k":"SidAJj0enJACxhwG69-wBLd-mVKqblLmRUg71NrOeWs","key_ops":["encrypt","decrypt"],"kid":"01967ff8-27d5-7686-9573-c8ec023dd21c","kty":"oct","use":"enc"}
    c:\Dev\Projects\jose-demo\jose_test.go:169: JWE Message of the Encrypted Bytes: eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwia2lkIjoiMDE5NjdmZjgtMjdkNS03Njg2LTk1NzMtYzhlYzAyM2RkMjFjIn0..tpJbLfFmpN2GZIslliTbBQ.pxWnlVDYAvCEfX1JlMOpnA.pnXtxiH1v4QM_aEJIyRRn0na-GkZUnugnnLdYv4pRc4
    c:\Dev\Projects\jose-demo\jose_test.go:128: Decrypted Bytes: Hello World 9608! [0x48656c6c6f20576f726c64203936303821]
```

If I decode the JWK it is 32-bytes, instead of 64-bytes. If I decode the JWE header, it has this:
```
{
  "alg": "dir",
  "enc": "A256CBC-HS512",
  "kid": "01967ff8-27d5-7686-9573-c8ec023dd21c"
}
```

This is where WithContentEncryption("A256CBC-HS512") is set.
https://github.com/justincranford/jose-demo/blob/7d89e97824095d665dcaa5e2b059cf46358c7e04/jose_test.go#L159

This is where jwe.WithKey("dir", aesJwk32) is set with the 32-byte key.
https://github.com/justincranford/jose-demo/blob/7d89e97824095d665dcaa5e2b059cf46358c7e04/jose_test.go#L164

I think you may have uncovered a long standing bug. Only in the case where content encryption was specified to use DIRECT mode, alg=A256CBC_HS512, and keysize=32, it looks like it was using AES-128 instead of AES-256. I'm guessing this was a rare enough occurrence that didn't get reported because you would have to be using DIRECT mode, and have two parties (encrypter/decrypter) using the same keys with wrong key sizes for it to "work". For example, if you accidentally created a HS512 JWE with keysize=32 using jwx, but used another library to decrypt it, you most likely got errors and fixed the key.

Anyways, thank you for your persistence. Fix coming up for v2 and v3...

@justincranford Done! Released [v2.1.6](https://github.com/lestrrat-go/jwx/releases/tag/v2.1.6) and [v3.0.1](https://github.com/lestrrat-go/jwx/releases/tag/v3.0.1)

I'm going to close this issue for now. One thing, please try to separate unique points into separate issues in the future as it's a bit hard to keep track in the conversation.

Thanks for your report, and again, thanks for your persistence.

Thank you so much! Much appreciated!