Marshalling an jwk.ECDSAPublicKey doesn't create base64.RawUrlEncoding key parameters

**Describe the bug**
From the Readme.md file, this example should take a key and Marshal it to JSON:
jsonbuf, err := json.MarshalIndent(k, "", "  ")
It will use Go's internal defaults, which will base64-encode any []byte. Unfortunately, it doesn't use base64.RawUrlEncoding which is required by the JSON specs.
Concretely, this results in an error when parsing generated jwk JSON with krakend.

**To Reproduce / Expected behavior**
Put this private key in a variable called "pemEncoded" of type "string"
```
-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIPqCpUQaBtAwm56bj8bBTBXXCGo/9j8p00dgp5yM3RdNoAoGCCqGSM49AwEHoUQDQgAEXMtYzcDSlTl1FkcmbcNRpdOsDen7QINTdvXsG2LXkhrOR2kdpM1vLgN8s4WFE3evNvMfuWbyjNUJKwjp+oU8mg==
-----END EC PRIVATE KEY-----
```

Import the key and generate a json jwk:
```
         block, _ := pem.Decode([]byte(pemEncoded))
	x509Encoded := block.Bytes
	privateKey, err := x509.ParseECPrivateKey(x509Encoded)
	if err != nil {
		return nil, err
	}
	k, err := jwk.New(privateKey.PublicKey)
	if err != nil {
		log.Printf("Cannot New: %v", err)
		return nil, err
	}
	jsonbuf, err := json.MarshalIndent(k, "", "  ")
	if err != nil {
		log.Printf("failed to generate JSON: %s", err)
		return nil, err
	}

	os.Stdout.Write(jsonbuf)
```
This is what we get:
```
{
  "kty": "EC",
  "crv": "P-256",
  "x": "XMtYzcDSlTl1FkcmbcNRpdOsDen7QINTdvXsG2LXkho=",
  "y": "zkdpHaTNby4DfLOFhRN3rzbzH7lm8ozVCSsI6fqFPJo="
}
```
The "=" at the end of both x and y are problematic and don't adhere to the JSON specs so they are rejected by [krakend](https://github.com/devopsfaith/krakend-jose)


**Additional context**
I don't think we can specify a default base64 encoder to json.Marshal so a helper method that uses base64.RawUrlEncoding for []byte field would be appreciated. 
It seems like this function does what I want:

`func (h ecdsaPublicKey) MarshalJSON() ([]byte, error)
`
I don't think I can ever access the underlying ecdsaPublicKey object directly since NewECDSAPublicKey() returns an interface ECDSAPublicKey, which doesn't have the MarshalJSON method exposed.

I'm new to JW* so if I have overlooked something, please let me know, otherwise, I'm happy to contribute some code.
**Sponsors**
No


Ah, thank you. Yeah, I had that behavior before and failed to realize `encoding/json` completely ignores it when I did the refactoring (an forgot by that point that the omission of "=" was significant)

for my own personal notes:

from [RFC7515](https://tools.ietf.org/html/rfc7515)

>  Base64url Encoding
>  Base64 encoding using the URL- and filename-safe character set
>  defined in Section 5 of RFC 4648 [RFC4648], with all trailing '='
> characters omitted (as permitted by Section 3.2) and without the
>  inclusion of any line breaks, whitespace, or other additional
> characters.  Note that the base64url encoding of the empty octet
> sequence is the empty string.  (See Appendix C for notes on
> implementing base64url encoding without padding.)

Of course, the problem is that other sections of the document refers to [RFC4648](https://tools.ietf.org/html/rfc4648), which talks about base64 in general, and not the version used in JWx

@MaxRenaud can you please try out #186 