Return type of jwk.Key.Algorithm method is string, not SignatureAlgorithm

While `jwt.Sign` and ~~`jwa.Sign`~~ `jws.Sign` take `alg` parameter of the type   `jwa.SignatureAlgorithm`, `jwk.Key`'s `Algorithm` method returns   `string`. Is it intended? Shouldn't all three use the same type?

That may have been an oversight. TBH I don't remember if there was any reason it was that way, but yes, it's certainly inconsistent with the other jwt, jws,... packages.

I think the answer is that possible values for JWK alg field were not well defined in [RFC7518](https://tools.ietf.org/html/rfc7518).

(sorry, "jwa.Sign" in [my first comment](https://github.com/lestrrat-go/jwx/issues/237#issue-749350372) was typo for "jws.Sign". I revised it.)

[Section 4.4 of RFC 7517](https://tools.ietf.org/html/rfc7517#section-4.4) defines the possible values for "alg" parameter in JWK.

 > The values used should either be registered in the
 > IANA "JSON Web Signature and Encryption Algorithms" registry
 > established by [JWA] or be a value that contains a Collision-
 > Resistant Name.

On the other hand, [Section 4.1.1 of RFC 7515](https://tools.ietf.org/html/rfc7515#section-4.1.1) defines the possible values for "alg" header parameter in JWS. The definition was the same as the above.

Thus, I think the types of the "alg" in JWK and "alg" in JWS are identical.

In [implementation of `jws.Sign`](https://github.com/lestrrat-go/jwx/blob/master/jws/jws.go#L115), the alg parameter (of type `SignatureAlgorithm`) eventually goes to the "alg" JOSE header. So, in jwx, I think the `SignatureAlgorithm` represents the type for "alg" parameter of JWS and JWK.

That said, if changing the signature of `jwk.Key.Algorithm` method would be a nasty breaking change, I think it's ok to keep it as it is now.


So in anticipation of a major release some time in the near future (#388) I took another look at this.
I read, and re-read, and I believe the RFC as it currently stands does NOT explicitly state that this field should be populated using a "signature" algorithm (i.e. jwa.SignatureAlgorithm). While I cannot find any examples otherwise, the RFC does not state if it could be a key encryption algorithm (i.e. jwa.KeyEncryptionAlgorithm). I think this is possible, because JWK's "use" field could be "sig" or "enc"

In light of this, I believe that the value should be string, and that one should use the following if they want to explicitly convert the value of this field.

```go
var alg jwa.SignatureAlgorithm
if err := alg.Accept(key.Algorithm()); err != nil {
   ...
}
```

Thanks for reviewing this issue!

> the RFC does not state if it could be a key encryption algorithm (i.e. jwa.KeyEncryptionAlgorithm). I think this is possible, because JWK's "use" field could be "sig" or "enc"

Good point. I agree that it can be encryption algorithm. I'm ok with your decision.

@debug-ito I know this is old, and this has been closed. But for a next major version (not scheduled to be released yet), I'm thinking of introducing a single type called `jwk.KeyAlgorithm`

https://github.com/lestrrat-go/jwx/tree/jwk-alg-field

If you are still interested, please let me know what you think. Otherwise, don't worry about it

Thanks for taking time for this issue.

I roughly reviewed the code. I think it's a good idea to add `KeyAlgorithm` as a super type of `SignatureAlgorithm` and `KeyEncryptionAlgorithm`. However, I would keep stricter API instead of allowing users to pass a value from a jwk.Key directly.

For example,

- `jwa.KeyAlgorithmFrom` should return `(KeyAlgorihm, error)`.
- `jwe.Encrypt` and `Decrypt` should take `KeyEncryptionAlgorithm`.
- `jwt.Sign` should take `SignatureAlgorithm`.
- (Looks like `jws.Sign` and `jws.Verify` still take `SignatureAlgorithm`. Maybe you missed it?)

Anyway, there is a trade-off between convenience and strictness. If you prefer convenience, that's ok for me.


The main reason I decided to actually "fix" this issue is because people kept assuming that jwk.Key.Algorithm was half-baked because it returned a string -- not too many people realize that the algorithm can be different things, and thought that people should be able to pass jwk.Key.Algorithm directly to the high level APIs

(and yes, I missed jws.Sign/Verify)